<a href="https://colab.research.google.com/github/umma-habiba/AI_lab-1635/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# My Python First Program "Print Hello World"

In [1]:
print("Hello World")

Hello World

## **Variables and Assignment Statements**

In [3]:
x=7
y=3

print(x+y)

10

In [4]:
total = x+y
print(total)

10

In [5]:
name = "umma"
name2 = "habiba"

print(name , name2)

umma habiba

# **Types**

In [6]:
x =10

type(x)

int

In [7]:
type(10.5)

float

In [8]:
type(name)

str

# **Arithmetic operators**

In [9]:
multiplication = 7*4
print(multiplication)

28

In [19]:
add = 10+15
print(add)

25

In [18]:
sub = 40-8
print(sub)

32

In [20]:
Exponentiation = 2**10
print(Exponentiation)

1024

True Division (/) vs. Floor Division (//)

In [21]:
True_Division = 7/4
print(True_Division)

1.75

In [22]:
Floor_Division = 7//4
print(Floor_Division)

1

In [23]:
remainder = 15%7
print(remainder)

1

# Relational Operators

In [24]:
x = 105

y = 100

In [25]:
x>y

True

In [27]:
x<y

False

In [28]:
x==y

False

In [29]:
x!=y

True

In [30]:
x>=y

True

In [31]:
x<=y

False

Chaining Comparisons

In [32]:
x = 3

y = 10

In [33]:
1 <= x <= 5

True

In [34]:
1 <= y <= 5

False

Printing a Comma-Separated List of Items

In [35]:
print('Welcome', 'to', 'Python!')

Welcome to Python!

Printing Many Lines of Text with One Statement

In [36]:
print('Welcome\nto\n\nPython!')

Welcome
to

Python!

Ignoring a Line Break in a Long String

In [37]:
print('this is a longer string, so we \
split it over two lines')

this is a longer string, so we split it over two lines

Printing the Value of an Expression

In [38]:
print('Sum is', 7 + 3)

Sum is 10

What does the following print statement display?
# print('int(5.2)', 'truncates 5.2 to', int(5.2))

In [39]:
print('int(5.2)', 'truncates 5.2 to', int(5.2))

int(5.2) truncates 5.2 to 5

Including Quotes in Strings

In [40]:
print('Display "hi" in quotes')

Display "hi" in quotes

In [41]:
print('Display \'hi\' in quotes')

#using the \' escape sequence:

Display 'hi' in quotes

In [42]:
print("Display the name O'Brien")

Display the name O'Brien

In [43]:
print("Display \"hi\" in quotes")

Display "hi" in quotes

To avoid using ' and " inside strings, you can enclose such strings in triple
quotes:

In [44]:
print("""Display "hi" and 'bye' in quotes""")

Display "hi" and 'bye' in quotes

Multiline Strings

In [45]:
triple_quoted_string = """This is a triple-quoted
string that spans two lines"""

print(triple_quoted_string)

This is a triple-quoted
string that spans two lines

In [46]:
print("""This is a lengthy
multiline string containing
a few lines \

of text""")

This is a lengthy
multiline string containing
a few lines
of text

Precision Handling in Python

In [71]:
a = 3.4536475856
# using "%" to print value till 2 decimal places

print ("The value of number till 2 decimal place(using %) is :",end="") 
print ('%.2f' %a)

The value of number till 2 decimal place(using %) is :3.45

In [72]:
# using "%" to print value till 4 decimal places

print ("The value of number till 2 decimal place(using %) is :",end="") 
print ('%.4f' %a)

The value of number till 2 decimal place(using %) is :3.4536

# **Getting Input from the User**

In [ ]:
The built-in input function requests and obtains user input:

In [54]:
name = input("What's your name? ")

What's your name? nisa

In [55]:
print(name)

nisa

In [57]:
value1 = input('Enter first number: ')
value2 = input('Enter second number: ')

Enter first number: 30
Enter second number: 40

In [58]:
type(total) #python takes input as a string we have to type cast the input

int

In [59]:
total = int(value1) + int(value2) #type casting to int format
print(total)

70

Getting an Integer from the User by casting the input format

In [60]:
another_value = int(input('Enter another integer: '))

Enter another integer: 10

In [61]:
print(another_value)

10

# Taking multiple input from the user

In [62]:
a, b = input().split()

10 20

In [63]:
print(a , b)

10 20

In [64]:
print(type(a))

<class 'str'>

# **Solving Problem**

In [65]:
number1 = int(input('Enter first integer: '))
number2 = int(input('Enter second integer: '))
number3 = int(input('Enter third integer: '))

Enter first integer: 20
Enter second integer: 50
Enter third integer: 100

In [66]:
min(number1,number2,number3)

20

In [67]:
max(number1,number2,number3)

100